.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions img {
  width: 100px;
  height: 100px;
}

.counterText {
  fill: rgb(255, 255, 255); font-size: 60px;
}

.tipText {
  fill: rgb(255, 255, 255); font-size: 20px;
  transform: translateY(40px);
}

#chart {
  position: relative;
  background-color: black;
}

.driveStates {
  position: absolute;
}