.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instructions img {
  width: 100px;
  height: 100px;
}

.counterText {
  fill: rgb(255, 255, 255); font-size: 80px;
  font-weight: 700;
}

.mphText {
  fill: rgb(255, 255, 255); font-size: 20px;
  transform: translateY(40px);
}

#chart {
  position: relative;
  background-color: black;
}

.driveStates {
  position: absolute;
}

#driveCont {
  position: absolute;
}

.labelText {
  position: absolute;
  fill: rgb(129, 129, 129);
  font-size: 10px;
}

.topText {
  position: absolute;
  fill: rgb(212, 212, 212);
  font-size: 13px;
  font-weight: 500;
}